*{
  margin: 0px;
}
html {
  scroll-snap-type: y mandatory;
}
.App {
  display: flex;
  flex-direction: row;
  height: 100vh;
  place-items: center;
  justify-content: space-around;
  
}
.App form {
  display: flex;
  flex-direction: column;
  padding: 40px;
  border: 2px solid ;
  border-radius: 10px;
}
.app_videos{
    position: relative;
    height: 600px;
    border-radius: 20px;
    width: 80%;
    max-width: 450px;
    overflow: scroll;
    scroll-snap-type: y mandatory;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.app_videos::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.app_videos {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}


